.sliders{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:40px ;
}
.sliders-right{
    display: flex;
}

.sliders-right img{
    width: 250px;
    height: 300px;
    margin-left:20px ;
    position: relative;
}

.sliders-right img:hover{
   
    height: 350px;
    transition: 0.8s;
    cursor: pointer;
}
.sliders-left{
    width: 300px;
}
.sliders-left p{
    margin-top: 19px;
}
.sliders button{
    background-color: #182553;
    color: white;
    padding: 10px;
    margin: 30px;
    border-radius: 8px;
    cursor: pointer;
}
